* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
   
body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: black;
     background-color: whitesmoke;
}

main {
display: flex;
}

.img {
     text-align: center;
}

.first_part {
     background-color: whitesmoke;
     padding: 3rem 1rem 3rem 2rem;
     width: 30%;
     height: 100%;
}

.first_part img {
     width: 180px;
     height: 180px;
     border-radius: 50%;
     border: 3px solid rgb(255, 255, 255);
     object-fit: cover;

}

.contact p {
     padding-top: 10px;
}

.contact p::before {
     content: "";
     width: 32px;
     margin-right: 10px;
     height: 32px;
     margin-top: -4px;
     display: inline-block;
     vertical-align: middle;
     background-image: url(img/email-9-svgrepo-com.svg);
}

.contact .numero::before {
     background-image: url(img/icons8-téléphone-apple.svg);
     background-repeat: no-repeat;
     background-position: center;
}

.contact .localisation::before {
     background-image: url(img/localisateur.png);
     background-position: center;
     background-size: cover;
}

.contact .linkedin::before {
     background-image: url(img/icons8-linkedin.svg);
     background-position: center;
     background-size: cover;
}

section {
     margin-bottom: 2.5rem;
     transform: translateY(30px);
     font-family: cursive;
     font-size: 1.2rem;
     font-family: cursive;
}

   
section h2 {
     font-family: cursive, 'Arial Narrow', Arial, sans-serif;
     font-size: 1.8rem;
     border-bottom: 2px solid green;
     padding-bottom: 6px;
     margin-bottom: 15px;
}
   
section p {
     font-size: 1.2rem;
     line-height: 1.6;
     color: #3c3b3d;
     margin-top: 2px;
}

section ul li {
     margin-left: 1.2rem;
}


header  {
     text-align: center;
}

header h1  {
     font-size: 3.5rem;
}

header p {
     font-size: 1.3rem;
     font-style: italic;
}
   
.second_part {
     background-image: url(img/background.jpg);
     width: 70%;
     padding: 2rem 2rem 0rem 2rem;
}

section p {
     margin-left: 5px;
}

.diplome {
     margin: 1.1rem ;
}

.diplome p {
     margin-left: 10px;
}
.diplome span {
     color: #777;
     font-style: italic;
     font-size: 1.2rem;
}

.diplome ul li {
     padding: 5px;
}
.diplome ul{
     padding: 1rem;

}

footer {
     text-align: center;
     background-color: snow;
     color: black;
     padding: 15px;
     font-size: 1.2rem;
     font-family: cursive;
}

@media (max-width: 1200px){
     .first_part {
          width: 45%;
          padding: 3rem 1rem 3rem 1rem;
     }
}

@media (max-width: 800px){
     main {
          flex-direction: column;
     }
     .first_part {
          width: initial;
          padding: 3rem 2.5rem 3rem 2rem;
     }

     .second_part {
          width: initial;
          padding: 3rem 2.5rem 3rem 2rem;
     }
     section p {
          margin-left: 15px;
     }
}


      